html{
  min-height: 110%;
  background-size: cover;
}

/* .App {
  text-align: center;
} */

.App-logo {
  position: absolute;
  top: 5vh;
  pointer-events: none;
}

.App-header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 3vh;
}

.query {
  color: #fefefe;
  margin: 3% 5% 2% 11%;
}

.movie-card {
  margin: 0.2% 11% ;
}

.movie {
  display: flex;
  color: #fefefe;
  margin-bottom: 0.3rem;
}

.movie-thumbnail {
  height: 5rem;
  width: 4rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding-left: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #302e41;
  overflow: hidden;
}

.movie-info:hover {
  background: rgba(182, 21, 64, 0.4);
}

.movie-title {
  font-weight: 300;
  font-weight: bolder;
}

.movie-year {
  font-size: 0.8rem;
}
