html{
  min-height: 150%;
  background-size: cover;
 padding-bottom: 5%;
}

.App-logo {
  position: absolute;
  top: 5vh;
  pointer-events: none;
}

.App-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 3vh;
}

.results-list {
  color: #fefefe;
  font-size: 1.3rem;
  margin: 3% 5% 2% 24%;
}

.nominations-list {
  color: #fefefe;
  font-size: 1.3rem;
  margin: 3% 24% 2% 5%;
}

.movie-card {
  margin: 0.2% 0% 0.2% 24%;
}

.nomination-card {
  margin: 0.2% 24% 0.2% 5%;
}

.movie {
  display: flex;
  height: 4.5rem;
  color: #fefefe;
  margin-bottom: 0.3rem;
}

.movie-thumbnail {
  height: 4.5rem;
  width: 3.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding-left: 1rem;
  background: #302e41;
  overflow: hidden;
}

.movie-info.nominee {
  background: #6c6a85;

}

.movie-info:hover {
  background: rgba(182, 21, 64, 0.4);
}

.movie-title {
  font-weight: 300;
  font-weight: bolder;
}

.movie-year {
  font-size: 0.8rem;
}

.nominate-btn {
  height: 4.5rem;
}

.pagination-btn{
  display: flex;
  justify-content: space-evenly;
  margin: 5% 35% 0 35%;
}
