html {
  min-height: 150%;
  background-size: cover;
  padding-bottom: 5%;
  overflow-x: hidden;
}

.App-logo {
  display: grid;
  height: 17vh;
  margin-top: auto;
  pointer-events: none;
}

.App-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 3vh;
}

.results-list {
  color: #fefefe;
  font-size: 1.3rem;
  margin: 3% 5% 1% 24%;
}

.nominations-list {
  color: #fefefe;
  font-size: 1.3rem;
  margin: 4% 24% 8.5% 0%;
}

.movie-card {
  margin: 0.2% 0% 0.1% 24%;
}

.nomination-card {
  margin: 0.2% 24% 0.2% 0%;
}

.movie {
  display: flex;
  justify-content: center;
  height: 5rem;
  color: #fefefe;
  margin-bottom: 0.3rem;
}

.movie-thumbnail {
  height: 100%;
  width: 60px;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  background: #302e41;
  overflow: hidden;
}

.movie-info.nominee {
  background: #6c6a85;
}

.movie-info:hover {
  background: rgba(182, 21, 64, 0.4);
}

.movie-title {
  font-size: 85%;
  font-weight: bolder;
}

.movie-year {
  font-size: 70%;
}

.pagination-btn{
  display: flex;
  justify-content: center;
  margin: 2% 10% 2% 10%;
  gap: 1%;
}

.fade {
  width: 76%;
  margin: 2% 12%;
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
  .App-logo {
    height: 17vh;
    margin-top: auto;
  }

  .results-list {
    font-size: 95%;
    margin: 2% 4% 0% 10%;
  }

  .nominations-list {
    font-size: 95%;
    margin: 4% 4% 3% 10%;
  }
  
  .movie-card {
    margin: 0.2% 10% 0% 10%;
  }

  .nomination-card {
    margin: 0.2% 10% 0% 10%;
  }
}

@media only screen and (max-width: 600px) {
  .App-logo {
    height: 14vh;
    margin-top: auto;
  }
  .results-list, .nominations-list {
    font-size: 90%;
    margin: 3% 4% 2% 8%;
  }

  .movie-title, .movie-year{
    font-size: 70%;
  }

  .movie-thumbnail {
    width: 55px;
  }

  .movie-card {
    margin: 0.2% 5% 0% 5%;
  }

  .nomination-card {
    margin: 0.2% 5% 0% 5%;
  }  
}
